<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="testBeanInterfaceError" class="net.peakplatform.sonar.plugins.spring.checks.tests.TestBeanInterface">
	</bean>
	
	<bean id="testBeanClassNotFound" class="net.peakplatform.sonar.plugins.spring.checks.tests.TestBeanClass2">
	</bean>
	
	<bean id="testBeanOK" class="net.peakplatform.sonar.plugins.spring.checks.tests.TestBeanClass">
	</bean>
</beans>